body {
  background-color: #f3f3f391;
  font-family: 'Montserrat', sans-serif;
}

.beon-showcase__item-title a,
.beon-showcase__item-title h3 a,
.beon-showcase__item-title h3 a span {
  text-decoration: none !important;
}

.beon-showcase {
  background-color: #ffffff;
  padding: 30px;
  margin: 20px 0;
  overflow: visible;
}

